<h2>Reservation List</h2>

<div *ngIf="reservations.length; else noReservation">
    <ul *ngFor="let reservation of reservations">
        <li>Guest : {{reservation.guestName}}</li>
        <li>Email : {{reservation.guestEmail}}</li>
        <li>Check In : {{reservation.checkInDate}}</li>
        <li>Check Out : {{reservation.checkOutDate}}</li>
    </ul>
</div>


<ng-template #noReservation>
    <h6>You currently have no reservations</h6>
    <p>Add your reservation here: </p> <button [routerLink]="['new']" class="btn btn-primary">Create new reservation</button>
</ng-template>
